
/* GENERIC */

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: #000;
}

div.cont {
    margin: auto;
    width: 100%;
    min-width: 304px;
    max-width: 900px;
}

/* TOP BAR */

div.logo-row {
    margin-top: 10px;
    text-align: center;
}

#img-logo {
    width: 60%;
    min-width: 250px;
    max-width: 400px;
}

div.top-menu-bar {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 5px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2px;
}

div.top-menu-item {
    text-align: center;
    font-size: 16px;
}

a.menu-button {
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

@media only screen and (min-width: 370px) {
    div.left {text-align: left;}
    div.right {text-align: right;}
}

div.page-title {
    margin: 10px 0px;
}

div.page-title-head {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    background-color: #2ae;
    padding: 6px 15px;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 5px;
} 