{% load static %}

<div class="cont">
    <div class="logo-row">
            <a href="{% url 'home' %}">        
                <img id="img-logo" src="{% static 'img/nyt-logo-api2.png' %}">
            </a>      
    </div>
    <div class="top-menu-bar">
        <a href="{% url 'books:books_overview' %}">
            <div class="top-menu-item">Best Seller Books</div>
        </a>
        <a href="{% url 'about' %}">
            <div class="top-menu-item">About</div>
        </a>
    </div>
</div>