{% extends 'pages/base.html' %}
{% load static %}

{% block specificstyle %}
    <link rel="stylesheet" href="{% static 'css/bookslist.css' %}" />
{% endblock specificstyle %}

{% block title %}
    Best Seller Books - NYT API
{% endblock title %}

{% block content %}

<div class="cont">

    <div class="page-title">
        <div class="page-title-head">Best Seller Books</div> 
        <div class="page-title-head">{{ latest_list.results.display_name }}</div>
    </div>   

    <div class="books-list">

        {% for item in latest_list.results.books %}

        <div class="each-book">
            <div class="cover-display">
                <img class="book-cover" src="{{item.book_image}}"
                title="{{item.title|title}}, by {{item.author}}" />
            </div>
            <div class="book-info">
                <li class="book-infolist rank">#{{item.rank}} </li>
                <li class="book-infolist title">{{item.title|title|truncatechars:50}}</li>
                <li class="book-infolist author">by {{item.author|truncatechars:36}}</li>           
            </div>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock content %}