{% extends 'pages/base.html' %}
{% load static %}

{% block specificstyle %}
    <link rel="stylesheet" href="{% static 'css/overview.css' %}" />
{% endblock specificstyle %}

{% block title %}
    Best Seller Books - NYT API
{% endblock title %}

{% block content %}

<div class="cont">

    <div class="page-title">
        <div class="page-title-head">Best Seller Books</div>
    </div>
    
    {% for item in latest_overview.results.lists %}

    <div class="book-overview-category">

        <a class="category-title" href="{% url 'books:books_list' item.list_name_encoded %}">
            {{item.display_name}}
        </a>

        <div class="books-hr-list">
            {% for book in item.books %}
            <div class="each-book-ranked">
                <div class="book-overview-display">
                    <div class="book-img-overview">
                        <img class="book-cover" src="{{book.book_image}}"
                            title="{{book.title|title}}, by {{book.author}}" />
                        <div class="book-rank-over">#{{book.rank}}</div>
                    </div>
                </div>
                <div class="book-title-below">{{book.title|title|truncatechars:23}}</div>
            </div>
            {% endfor %}
        </div>

    </div>

    {% endfor %}

</div>

{% endblock content %}