{% extends 'pages/base.html' %}
{% load static %}

{% block specificstyle %}
    <link rel="stylesheet" href="{% static 'css/bookslist.css' %}" />
{% endblock specificstyle %}

{% block title %}
    Best Seller Books - NYT API
{% endblock title %}

{% block content %}

<div class="cont">

    <div class="page-title">
        <div class="page-title-head">
            <a class="no-deco" href="{% url 'books:books_overview' %}">
                Best Seller Books
            </a>
        </div>
        <div class="page-title-head">
            <a class="no-deco" href="{% url 'books:books_list' latest_list.results.list_name_encoded %}">
                {{ latest_list.results.display_name }}
            </a>            
        </div>
    </div>   

    <div class="books-list">

        {% for item in latest_list.results.books %}

        <div class="each-book">
            <div class="cover-display">
                <a href="{% url 'books:book_detail' latest_list.results.list_name_encoded item.title %}">
                    <img class="book-cover" src="{{item.book_image}}"
                    title="{{item.title|title}}, by {{item.author}}" />
                </a>
            </div>
            <div class="book-info">
                <li class="book-infolist rank">#{{item.rank}}</li>
                <a class="no-deco" href="{% url 'books:book_detail' latest_list.results.list_name_encoded item.title %}">
                    <li class="book-infolist title">{{item.title|title|truncatechars:50}}</li>
                </a>
                <li class="book-infolist author">by {{item.author|truncatechars:36}}</li>
            </div>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock content %}